
@{
    ViewBag.Title = "Exercise";
}
@{
    var nombre = "Juan";
}
<h1> @("Bienvenido "+ nombre)</h1>

@{
    var edad = 25;
    if (edad < 18)
    {
        <h2>es Mayor de edad</h2>
    }
    else
    {
        <h2>es Mayor de edad</h2>
    }
}
@{ 
    for (int i = 0; i < 5; i++)
    {
        @(i+1)<br/>;
    }
}