
@{
    ViewBag.Title = "Table";
    var fruits = new List<string> { "Apple", "Banana", "Cherry" };
    var cont = 0;
}

<h2>Lista de productos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @*@{
            for (int i = 0; i < 10; i++)
            {
                <tr>
                    <td>1</td>
                    <td>Manzana</td>
                    <td>25</td>
                    <td>10</td>
                </tr>
            }
        }*@
        @foreach (var item in fruits)
        {
            cont = cont + 1;
            <tr>
                <td>@cont</td>
                <td>@item</td>
                <td>25</td>
                <td>10</td>
            </tr>
            
        }
    </tbody>
</table>
